= render 'messages/sidebar'

.main
  .header
    .left-header
      .left-header__group-name
        groupname
      .left-header__group-member
        Member:name
    .right-headers
      =link_to 'Edit'
  .messagebox
    = render 'message'

  .form
    = form_for [@group, @message], html: {id: 'new_message'} do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__send'
